/* ТОЛЬКО СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ */

/* ПЕРВЫЙ БЛОК */
.first-block {
    height: 800px;
    width: 100%;
    position: relative;
    background-color: rgba(101, 94, 89, 0.9);
    
}

.logo {
    position: absolute;
    z-index: 3;
    top: 23%;
    left: 90%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 200px;
    filter: brightness(0.6);
}

/* ОКНА СЕРТИФИКАТОВ */
.certificate{
    display: flex;
    flex-direction: row;
    z-index: 100;
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: center;
    padding-top: 90px;
    padding-left: 30px;
}

.certificate1{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 40%;
    height: 600px;
    background-color: rgb(124, 126, 127);
    align-items: center;
}

.certificate1 h2{
    font-family: 'Avenir-Thin';
    font-weight: bold;
    align-self: flex-start;
    padding-top: 30px;
    font-size: 20px;
    color: white;
    padding-left: 30px;
}

.certificate1 p{
    font-family: 'Avenir-Thin';
    font-weight: normal;
    align-self: flex-start;
    padding-top: 30px;
    font-size: 20px;
    color: white;
    padding-left: 30px;
    padding-bottom: 10px;
}

.certificate1 .img-c{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(91, 88, 85, 0.9);
    width: 90%;
    height: 70%;  
}

.img-c img{
    object-fit: cover;
    width: 90%;
    height: 90%;
}



