/* ПЕРВЫЙ БЛОК */

.first-block{
    height: 800px;
    width:100%;
    position: relative;
    align-content: center;
    text-align: center;
}

.lakonos-photo{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(0.2);
    display: block;
    position: relative;
}

.text-first-block{
    top: 35%;
    left: 35%;
    background-color: transparent;
    position: absolute;
    z-index: 1000;
    display: block;
    width: 500px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.text-first-block h1{
    font-family: 'Avenir-Bold';
    font-size: 40px;
    line-height: 1;
    margin-left: -80px;
    color: rgba(239, 233, 233, 0.4);
    text-align: center;
    margin-bottom: -6px;
    /* transform: translate(100%, -450%); */
}

.text-first-block p{
    font-family: 'Avenir-Bold';
    font-size: 70px;
    color: rgba(239, 233, 233, 0.6);
    text-align: center;
    margin-left: -70px;
    /* transform: translate(100%, -450%); */
}

/* ВТОРОЙ БЛОК */

.second-block{
    position: relative;
    height: 350px;
    width: 100%;
    background-color: rgb(213, 217, 220);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 40px;
}

.second-block h2{
    position: absolute;
    /* margin-bottom: 100px; */
    white-space: nowrap;
    font-family: 'Avenir-Bold';
    color: rgb(223, 93, 5);
    font-size: 40px;
    display: inline-block;
    width: 500px;
    height: 200px;
}

.second-block p{
    margin-top: 100px;
    font-family: 'Avenir-Medium';
    color: rgb(41, 40, 40);
    font-size: 22px;
    line-height: 30px;
    display: inline-block;
    width: 800px;
    height: 300px;
}

.second-block img{
    object-fit: cover;
    width: 500px;
    top: 10%;
    left: 65%;
    height: 280px;
    position: absolute;
    justify-self: flex-end;
    align-items: flex-end;
    filter: brightness(0.6);
    border-radius: 5px;
    box-shadow: 15px 15px 10px rgb(41, 40, 40);
}

.third-block{
    position: relative;
    height: 400px;
    width: 100%;
    background-color: rgb(223, 93, 5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 40px;
}
.third-block h2{
    margin-top: 0px;
    font-family: 'Avenir-Bold';
    color: rgb(236, 232, 232);
    font-size: 40px;
    line-height: 30px;
    display: inline-block;
    width: 800px;
    height: 100px;
}

.list-laconos{
    padding-left: 25px;
    padding-top: 0px;
    width: 900px;
}

.list-laconos li{
    font-family: 'Avenir-Medium';
    font-size: 25px;
    color: rgb(236, 232, 232);
}

.third-block img{
    object-fit: cover;
    width: 500px;
    top: 8%;
    left: 65%;
    height: 330px;
    position: absolute;
    justify-self: flex-end;
    align-items: flex-end;
    filter: brightness(0.6);
    border-radius: 5px;
    box-shadow: 15px 15px 10px rgb(41, 40, 40);
}

